:root {
    --primary-color: #007bff;
    --secondary-color: #FF6600;
    --background-color: #3f3e3e;
    --header-color: #0e2d4e;
    --background2-color: #4b4949;
}

* {
    margin: 0;
    padding: 0;
    max-width: 1920px;
    box-sizing: border-box;
}

.background {
    background-color: #3f3e3e;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

#menu {
    display: none;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: var(--header-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

h1 {
    color: white;
    font-size: 2.4rem;
    padding: 1.2rem 1.5rem 0.85rem 2.75rem;
    letter-spacing: 0.2rem;
}

nav {
    display: flex;
}

nav a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.85rem;
    z-index: 0;
    position: relative;
}

nav a::after {
    content: "";
    height: 100%;
    width: 0px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(to right, #FF6600, #006ce0);
    transition: 0.3s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    font-size: 2.3rem;
    font-weight: 600;
}

h2 {
    display: block;
    text-align: center;
    font-size: 3.5rem;
    margin-top: 1.7rem;
    color: white;
}

#bodyP {
    max-width: 90%;
    margin: 0 auto;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.webForm1 {
    border: 1px solid black;
    background-color: #007bff;
    border-radius: 5px;
    max-width: 60%;
    margin: 0 auto;
}

.webForm1 label {
    display: block;
    padding-top: 2rem;
    margin: 0 0 0 2rem;
    color: black;
    font-size: 1.1rem;
}

.webForm1 input[type="text"],
.webForm1 input[type="tel"],
.webForm1 input[type="email"],
.webForm1 input[type="url"] {
    background-color: #eee;
    display: block;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 0.65rem;
    color: black;
    width: 100%;
    max-width: 300px;
    margin: 0;
    appearance: none;
    margin: 0.4rem 0 0 2rem;
    font-size: 1rem;
}

.webForm1 input:required {
    border-left: 8px solid #FF6600;
}

.webForm1 input:required:valid {
    border-left: 8px solid green;
}

.submitButt {
    border: 1px solid black;
    background: linear-gradient(#FF6600, rgb(216, 54, 5));
    color: black;
    border-radius: 5px;
    padding: .8rem;
    max-width: 200px;
    display: block;
    font-size: 1.5rem;
    margin: 1.5rem auto 1.3rem;
}

.submitButt:hover {
    background: #07c407;
    cursor: pointer;
}

h3 {
    color: white;
    margin-top: 4rem;
    display: block;
    font-size: 2.5rem;
    text-align: center;
}

#arrows {
    color: white;
    display: block;
    letter-spacing: 0.75rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin-top: 0.5rem;
}

.hidden {
    display: none;
}

.discordDiv {
    position: relative;
    margin-top: 2rem;
    max-width: 1000px;
    height: 564px;
}

#discordBackground {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 0;
}

#discordLogo {
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 75px;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
}

#welcomeMessage {
    border: 1px solid black;
    background-color: #0e2d4e;
    border-radius: 5px;
    padding: 1rem;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 2rem;
}

#welcomeP {
    display: block;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

#startedP {
    color: white;
    display: block;
    font-size: 1.75rem;
    text-align: center;
    padding: 1rem;
}

#startedP a {
    color: #FF6600;
    font-size: 1.85rem;
    font-weight: 800;
}

footer {
    background-color: #0e2d4e;
    color: white;
    padding: 3rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 6rem;
}