:root {
    --primary-color: #007bff;
    --secondary-color: #FF6600;
    --background-color: #3f3e3e;
    --header-color: #0e2d4e;
    --background2-color: #4b4949;
}

* {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

body {
    min-width: 350px;
}

main {
    background-color: #3f3e3e;
    max-width: 400px;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #0e2d4e;
    position: relative;
}

h1 {
    color: white;
    padding: 1rem;
    font-size: 2.3rem;
}

nav a {
    display: none;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
    padding: 0.75rem;
}

nav a:hover {
    background-color: #FF6600;
}

#menu {
    font-size: 2.5rem;
    border: 0;
    background: none;
    color: var(--secondary-color);
    position: absolute;
    max-width: 50px;
    top: 10px;
    right: 1.5rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "🟧";
}

#menu.open::after {
    content: "X";
    position: absolute;
    top: 9px;
    right: 10px;
    color: var(--primary-color);
}

.open a {
    display: block;
}

.background {
    background-color: #3f3e3e;
}

h2 {
    display: block;
    text-align: center;
    font-size: 2.2rem;
    margin-top: 1.7rem;
    color: white;
}

.rankDiv {
    border: 1px solid white;
    margin-top: 1.5rem;
    background-color: black;
    border-radius: 8px;
}

#rankLabel {
    display: block;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    color: white;
}

#skillLevel {
    display: block;
    width: 45%;
    padding: 0.7rem;
    font-size: 1.3rem;
    text-align: center;
}

#rankImage {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}

#tipButton {
    max-width: 60%;
    padding: 0.9rem;
    display: block;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #007bff;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#tipButton:hover {
    background-color: black;
    color: white;
}

#allTipsButton {
    max-width: 70%;
    padding: 0.9rem;
    display: block;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #FF6600;
    color: black;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#allTipsButton:hover {
    background-color: black;
    color: white;
}

h3 {
    border-top: 1px solid white;
    max-width: 90%;
    margin-top: 2.5rem;
    color: white;
    display: block;
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
}

#output {
    display: block;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 1rem;
    text-align: center;
    background-color: #FF6600;
    color: black;
    padding: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5rem;
}

#output:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px #007bff;
    border-radius: 10px;
}

h4 {
    display: block;
    text-align: center;
    margin-top: 3.5rem;
    color: white;
    font-size: 1.45rem;
}

.tipsBottom {
    color: white;
    padding-top: 0.5rem;
}

#bakkesmod {
    display: block;
    max-width: 60%;
    border: 1px solid white;
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem;
    margin-top: 1.4rem;
    background-color: #007bff;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#bakkesmod:hover {
    background: linear-gradient(45deg, #007bff, #FF6600, #007bff);
}

footer {
    background-color: #0e2d4e;
    color: white;
    padding: 3rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 6rem;
}