:root {
    --primary-color: #045442;
    --secondary-color: #EFF1C5;
    --accent1-color: #84CAE7;
    --accent2-color: #D3C0D2;
    --accent3-color: #815355;
    --accent4-color: #77A0A9;
}

* {
    box-sizing: border-box;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

header {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

#menu {
    display: none;
}

#headerGrid {
    margin: 0 auto;
    padding: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    max-width: 92%;
}

#logo {
    display: grid;
    grid-template-columns: 129px 182px;
    align-items: center;
    max-width: fit-content;
    margin-left: 3rem;
}

#logo p, h1 {
    margin: 0;
    text-align: center;
    color: white;
}

#logo h1 {
    font-size: 2.4rem;
}

#logo p {
    font-weight: 500;
}

#logo img {
    padding: 1rem;
    border-radius: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    max-width: 730px;
    margin-right: 1rem;
}

nav a {
    display: block;
    width: 100%;
    font-size: 1.75rem;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 400;
    text-align: center;
    padding: 0.5rem;
    margin-left: 0.25rem;
    position: relative;
    z-index: 0;
    transition: color 0.18s;
}

nav a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--secondary-color);
    display: block;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

nav a:hover::before {
    width: 100%;
}

nav a:hover {
    color: black;
}

.active {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.footerGroup {
    max-width: fit-content;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footerGroup p {
    margin: 0;
    padding: 0.25rem;
}

.imageLinks {
    display: flex;
}

.imageLinks img{
    padding: 0.3rem;
    margin: 1rem;
}

footer {
    background-color: var(--primary-color);
}

#footerContainer {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 92%;
    align-items: center;
}

#footerBold {
    font-weight: 700;
    font-size: 1.3rem;
}

#membersList {
    max-width: 91%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 3.5rem;
    place-items: center;
    justify-content: space-around;
    margin-bottom: 5rem;
    margin-top: 1.1rem;
}

.companyCard {
    border: 1px solid rgb(224, 223, 223);
    width: 300px;
    text-align: center;
    background-color: rgb(241, 237, 237);
    padding: 1rem;
    border-radius: 5px;
}

.companyCard img {
    height: 200px;
    width: auto;
}

.companyCard:hover {
    box-shadow: 0 0 50px #045442;
    transition: 0.37s;
    background-color: #EFF1C5;
    transform: translateY(-6px);
}

.companyCard h3 {
    font-size: 1.3rem;
}

.companyCard p {
    font-weight: 400;
}

#mainHeading {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 5rem;
    max-width: 79%;
}

h2 {
    color: black;
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 2px;
}

#buttonHolder {
    display: flex;
    align-items: center;
}

#buttonHolder p {
    color: black;
    font-size: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.changeButton {
    color: black;
    padding: 0.35rem 1.3rem;
    height: 35%;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.changeButton:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.activeButton {
    background-color: rgba(128, 194, 209, 0.5);
}

#listView {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin-bottom: 5rem;
}

#listView img {
    display: none;
}

#listView .companyCard {
    width: 100%;
    padding: 0;
    margin-top: 1.25rem;
}

#listView .companyCard .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 0.5rem;
}

#listView .companyCard h3{
    margin: 0;
}

#listView .companyCard p{
    margin: 0;
}