:root {
    --primary-color: #045442;
    --secondary-color: #EFF1C5;
    --accent1-color: #84CAE7;
    --accent2-color: #D3C0D2;
    --accent3-color: #815355;
    --accent4-color: #77A0A9;
}

* {
    box-sizing: border-box;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

header {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

#logo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    max-width: 82%;
    padding: 0.5rem;
    justify-items: center;
}

#logo p, h1 {
    margin: 0;
    text-align: center;
    color: white;
}

#logo img {
    border-radius: 6px;
}

#logoDiv {
    padding-left: 0.5rem;
}

#logo p {
    font-weight: 400;
}

.active {
    text-decoration: underline;
    text-underline-offset: 10px;
}

#menu {
    font-size: 2.5rem;
	border: 0;
	background: none;
	color: var(--secondary-color);
	position: absolute;
	top: 1rem;
	right: 0.65rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
    color: red;
    font-weight: 600;
}

nav a {
    display: none;
    color: var(--secondary-color);
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    padding: 1rem;
}
nav a:hover {
    background-color: var(--secondary-color);
    color: black;
    transition: 0.5s;
}

.open a {
    display: block;
}

.footerGroup {
    max-width: fit-content;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footerGroup p {
    margin: 0;
    padding: 0.25rem;
}

.imageLinks {
    display: flex;
}

.imageLinks img{
    margin: 1rem;
}

footer {
    background-color: var(--primary-color);
}

#footerContainer {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 92%;
    align-items: center;
    flex-wrap: wrap;
}

#footerBold {
    font-weight: 700;
    font-size: 1.3rem;
}

/* --------End footer and header-------- */
main {
    max-width: 320px;
    margin: auto;
}

#allplaces {
    margin-bottom: 3rem;
}

#allplaces div {
    margin-top: 2.3rem;
    margin-bottom: 1rem;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
    "name"
    "photo"
    "description"
    "location";
}

#allplaces div h3 {
    margin: 1rem;
    grid-area: name;
    text-align: center;
}

#allplaces div img {
    width: 300px;
    height: 200px;
    grid-area: photo;
    display: block;
    margin: auto;
}

#allplaces div p {
    margin: 1rem;
    grid-area: description;
    font-size: 1rem;
    font-weight: 400;
}

#allplaces div address {
    margin: 1rem;
    grid-area: location;
    font-weight: 400;
}

#allplaces div button {
    background-color: rgb(53, 50, 50);
    color: white;
    border: 1px solid black;
    max-width: 50%;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 1.1rem;
    padding: 0.5rem 1.3rem;
}

#sidebar-message {
    font-size: 1.1rem;
    font-weight: 500;
    background-color: rgb(4, 84, 66);
    padding: 0.25rem 1.5rem;
    border-radius: 5px;
    color: white;
    text-align: center;
}

h2 {
    margin-top: 2rem;
    font-size: 2.1rem;
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 0.65rem;
}
